h1{
    text-align: center;
}

#welcome_message{
    text-align: center;
    margin-bottom: 100px;
}

.card_list {
    display: flex;
    justify-content: space-evenly;
    
}

.card {
    text-align: center;
}

.card_title {
    font-size: 40px;
}

.card_button {
    font-size: 20px;
    width: 100px;
    height: 30px;
    border-radius: 0.7rem;
}

.card_img {
    width: 400px;
    height: 400px;
}

